*{
    margin: 0;
    padding: 0;
}
.fb-btn,
.google-btn {
    padding: 5px 20px;
    width: 350px;
    border-radius: 30px;
    border: none;
    box-shadow: 
    0 0  0 1px rgb(255,255,255),
    0.3em 0.3em .5em rgba(0,0,0,0.3);
    
}
.fb-btn{
    margin: 10px 0px;
}
button img{
    width: 25px;
    margin-right: 20px;

}
.login-container{
    text-align: center;
}

.form-container{
    width: 400px;
    margin: auto;
    padding: 40px 0px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
.form-container h5{
    text-align: left;
    margin-left: 25px;
    margin-bottom: 20px;
}
form input{
    width: 350px;
    margin-bottom: 15px;
    padding: 5px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}
#submitBtn{
    border: none;
    background: #dd591e;
    color: white
}

.loginToggle strong{
    cursor: pointer;
    color: #dd591e;
}